<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Kerajaan"
        tools:targetApi="31">
        <activity
            android:name=".DetailTarumanegara"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailMataram"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailMajapahit"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailKutai"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailDemak"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailSriwijaya"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailBali"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailSingosari"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailAceh"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".prasasti_aceh"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".prasasti_mataram"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".prasasti_kutai"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".prasasti_demak"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".prasasti_sriwijaya"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".prasasti_tarumanegara"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App_Kerajaan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>